@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:700);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700:400');

* { margin:0; 
	padding:0; 
	box-sizing:border-box; 
}
body{
	background: #FFEA9E;
	color: #474747;
	padding: 50px 0;
	font-family: serif;
	line-height: 1.5em;
}
nav
{
	margin: auto;
}
.navlinks 
{
	font-family: 'Montserrat', sans-serif;
	color: rgba(0,0,0,.65);
	font-weight: 600;
	letter-spacing: 2px;

		padding: 20px;
/*	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;*/

	margin: 0 20px;
	border: none;
	background-color: none;
}	
h1 
{
	font-size: 50px;
	margin-bottom: .5em;
	line-height: 1.5em;
	font-family: 'Montserrat', sans-serif;
}
#slogan { 
	font-size: 24px;
	font-family: 'Playfair Display: 700', serif;
	font-style: italic; 
	font-weight: bold;
}
#lander {
	background: url(../images/tabletop.jpg);
	background-size: cover;
	height:750px
/*	color: rgba(0,0,0,.65);*/
	padding-top: 20px;
/*	text-align: left;*/
}
h2 {
	text-align: center;
	font-size: 30px ;
	color: rgba(0,0,0,.65)
	line-height: 1.5em;
	font-family: 'Montserrat', sans-serif;
	padding: 1em
}
article
{ 
font-family: 'Playfair Display: 400', serif;
padding: 1em
}
#about 
{
	text-align: center;
	font-size: 30px
	color: rgba(0,0,0,.65)
	line-height: 1.5em
}
img{
	width: 50%
}
hr {
	height: 1px
	width: 2em;
	margin: 2px
	background-color: rgba(0,0,0,)
	border: none;
}
footer{
	text-align: center;
	font-family: 'Playfair Display: 400', serif;
	font-size: 20px;
	padding: 2em;
	line-height: 1em;
	}